 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author">
  <title>Verify email</title>
</head>
<body>
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row main-content bg-success text-center">
      <div class="col-md-6 text-center company__info">
        <span class="company__logo">
          <img class="metropolitan" src="https://www.metropolitan.ac.rs/files/2018/11/logo-01.png"> 
        </span>
        <h4 class="company_title">IT255 projekat</h4>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 login_form ">
        <div class="container-fluid">
          <div class="row">
            <h2 class="signup">Thank You for Registering</h2>
          </div>
          <div class="row">
            <form control="" class="form-group">
              <div class="row" *ngIf="authService.userData$ as user">
                  <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
                  <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
             </div>

              <div class="row resend">
                <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                  <i class="fas fa-redo-alt"></i>
                  Resend Verification Email
                </button>
              </div>
            </form>
          </div>
          <div class="row redirect-sign-in">
            <div class="redirectToLogin">
              <span>Go back to?</span><a class="redirect" routerLink="/sign-in"> Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="container-fluid text-center footer">
    <!-- <P>Jaksa Blagojevic 3874</P> -->
  </div>
</body>
